<div class="container">
  <div class="row">
  	<h2>新增工作</h2>

    <%= simple_form_for @job do  |f| %>
	<%= f.input :title, :placeholder => "请输入名称", :label => "名称" %>
	<%= f.input :description, :placeholder => "请输入描述", :label => "描述" %>
	<%= f.submit "提交" %>
    <% end %>
  </div>
</div>	
